<%= simple_form_for(@student, html: { class: 'form-horizontal' }) do |form|%>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   <div>
  <% end %>
  
<!--      <div class="tab-content">
  <div class="tab-pane active" id="personal_info"> -->
     <%= form.association :course,  prompt: "Choose a Course", required: true, hint: 'Remember to sellect a Course.' %>
     <%= form.input :avatar, :label => 'Your avatar please' %>
  <%= form.input :first_name, placeholder: 'Your first name please' %>
  <%= form.input :last_name, placeholder: 'Your last name please' %>
  <%= form.input :username, placeholder: 'Your username please' %>
  <%= form.input :email, placeholder: 'user@domain.com' %>
  <%= form.input :phone_number, placeholder: "Phone Number"%>
  <%= form.input :address, placeholder: 'P.O.Box ' %>
  <%= form.input :school, placeholder: "School" %>
  <%= form.input :program_of_study, placeholder: "Program Of Study" %>
  <%= form.input :year, placeholder: "Year" %>
  <%= form.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 1,
order: [:day,:month, :year]  %>
<!--   <%= form.input :password, hint: false, error_html: { id: 'password_error'} %> -->
<!--   <%= form.input :password_confirmation, label: false %> -->
<!--        <a href="new#course_selection" class="btn btn-primary custom-button white-btn">Next</a> -->

     <%= form.button :submit %>
<!--    </div>
  <div class="tab-pane" id="course_selection">
       
   </div>
  <div class="tab-pane" id="complete_registration">         </div> -->
</div>
     
<% end %>
    
