<%= form_for(@newsletter, html: { class: "subscription wow lightSpeedIn animated" ,:"data-wow-offset" => "0" , :"data-wow-duration" => "2s" , :"data-wow-delay" => "2s" , :role => "form" }) do |f| %>
<% if @newsletter.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this course from being saved:</h2>
<ul>
  <% @newslettter.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>

  <%= f.text_field :email , :placeholder => "Enter email", :class => "form-control input-box"  %>

<%= f.submit 'Sign Up', class: "btn btn-primary custom-button white-btn" %>

<% end %>