	<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	<div class="container">
		
		<!-- HEADING -->
		<div class="intro "></div> <!-- dedicated to wonder-->
		
		<!-- CALL TO ACTION BUTTONS -->
		<div class="buttons">
			<%= link_to "Student", new_student_path, :class => "btn btn-primary custom-button white-btn wow fadeInLeftBig animated" , :"data-wow-offset" => "30", :"data-wow-duration" => "3s" ,"data-no-turbolink" => true %>
			<a href="#" class="btn btn-primary custom-button white-btn wow fadeInRightBig animated" data-wow-offset="30" data-wow-duration="3s">Client</a>
		</div>
		
		<!-- 3 SHORT MESSAGE ABOUT COMPANY -->
        <div class="row bottom-message-section">
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon icon-fontawesome-webfont-358"></i> Cost Effective Solutions
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-286"></i> Quality product in time
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-347"></i> Satisfaction guranteed
				</div>
			</div>
		</div>
	</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
	
<!-- </header> / END HOME SECTION  -->

<!-- =========================
   COURSES SECTION      
============================== -->
<% if @courses.any?%>
<section class="services" id="register">
<div class="container">
	
	<!-- COURSES HEADER -->
	<div class="section-header">
		
		<!-- COURSES TITLE -->
		<h2 class="white-text ">Available Courses</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE COURSES -->
    <h6>
			Stablecorps also provides educational solutions among which will of tutorials and course. Listed below are some of the course offered by stablecorps. 
		</h6>
	</div>

  	<!-- / END COURSES HEADER -->
  
	<!-- COURSES BOXES -->
	<div class="row">
    <%  @courses.each do |course| %>
		<div class="col-lg-6 col-md-6 col-sm-6 services-box blue wow bounceIn animated" data-wow-offset="30" data-wow-duration="5s" data-wow-delay="2s">
			<div class="service-icon">
        <%= image_tag( course.avatar.url(:medium)) %>
<!-- 				<img src="/assets/services/agric.jpg" alt="agric" /> -->
			</div>
      <h5 class="white-border-bottom"><%= course.name %></h5>
      <!-- services HEADING -->
      <h6><%= course.course_info %></h6>
      <%= link_to "Register", new_student_path, :class => "btn btn-primary custom-button white-btn" ,"data-no-turbolink" => true %>
		</div>
     <% end %>
     <% end %>
  </div><!-- / END COURSES BOXES -->
</div> <!-- / END CONTAINER -->
</section><!-- / END COURSES SECTION-->
  
  
<!-- =========================
   SOLUTIONS SECTION      
============================== -->

<section class="services wow fadeInLeftBig animated" data-wow-offset="5" data-wow-duration="2s" id="services">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text ">Solutions</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Technical know how coupled with the use of hitech tools has given Stable Corps the edge to solve problems more efficiently and permanently. Through the use of systematic and standard scientific principles, we are able to provide long lasting solutions to our  customers. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
  		<div class="col-lg-3 col-sm-3 services-box blue wow bounceIn animated" data-wow-offset="30" data-wow-duration="5s" data-wow-delay="2s">
			<div class="service-icon">
				<img src="assets/services/agric.jpg" alt="agricultural solutions" />
			</div>
			<h5 class="white-border-bottom">Agricultural Solutions</h5>
		</div>	
  
		<div class="col-lg-3 col-sm-3 services-box blue wow bounceIn animated" data-wow-offset="30" data-wow-duration="5s" data-wow-delay="2s">
			<div class="service-icon">
				<img src="assets/services/industrial.jpg" alt="industrial" />
			</div>
			<h5 class="white-border-bottom">Industrial Solutions</h5>
		</div>	

		<div class="col-lg-3 col-sm-3 services-box blue wow bounceIn animated" data-wow-offset="30" data-wow-duration="5s" data-wow-delay="2s">
			<div class="service-icon">
				<img src="assets/services/IT Solutions.jpg" alt="IT Solutions" />
			</div>
			<h5 class="white-border-bottom">IT Solutions</h5>
		</div>

  
  	<div class="col-lg-3 col-sm-3 services-box blue wow bounceIn animated" data-wow-offset="30" data-wow-duration="5s" data-wow-delay="0.2s">
			<div class="service-icon">
				<img src="assets/services/IT Solutions.jpg" alt="IT Solutions" />
			</div>
			<h5 class="white-border-bottom">Consumer Solutions</h5>
		</div>	
 	</div><!-- / END CONTAINER -->
</section>  <!-- / END SERVICES SECTION -->

<!-- =========================
   OUR TEAM SECTION   
============================== -->

<section class="our-team wow fadeInRightBig animated" data-wow-offset="1" data-wow-duration="1s" id="team">
<div>
  
  <div class="container">
		<!-- SECTION TITLE -->
		<h2 class="dark-text" id="team-label">Our Team</h2>
		<br>
	</div>
  
	<!-- / END SECTION HEADER -->
	
	<!-- TEAM MEMBERS -->
	<div class="row wow fadeInRight animated" data-wow-offset="3" data-wow-duration="1s" data-wow-delay="0.15s">
		<!-- MEMBER -->
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="assets/team/Michael W. Takrama.jpeg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Michael W. Takrama</h5>
					<div class="position">
						CEO
					</div>
				</div>
				<div class="details">
					<p>
						Michael W. Takrama is the CEO, head of CAD/CAM department and co-founder of Stable Corps Company Limited (SCCL). He operates as both CEO and president of the company making sure the company vision is adhered to alongside assuring profitable returns to Stable Corps stakeholders.
					</p>
				</div>
			</div>
		</div>
		<!-- / END MEMBER -->
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Richard K Padi.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Richard K Padi</h5>
					<div class="position">
						Vice - CEO
					</div>
				</div>
				<div class="details">
					<p>
						Mr. Padi is the Vice CEO, Head of Chemical Engineering Dept. and co-founder of Stable Corps Company Limited, responsible for Chemical Engineering aspects of SCCL projects and consultancy. Mr. Padi overseas the strategic planning, enhancement strategies, chemical related technology development, chemical process development and cross-sector liaising with other departments in project execution.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Daniel Aboagye.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Daniel Aboagye</h5>
					<div class="position">
						Director of Industrial Solutions
					</div>
				</div>
	
				<div class="details">
					<p>
						Mr. Aboagye is Director of Industrial Solutions, head of Mechanical Engineering Dept. (HOD) and co-founder of Stable Corps Company Limited. An HOD in the capacity of administrative leader who provides strong leadership, including strategic planning of projects, supervision of the department in compliance with appropriate company and client standards and operating procedures, financial planning and management of human and physical resources. 
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Benjamin A. Asaaga.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Benjamin A. Asaaga</h5>
					<div class="position">
						Operations Manager
					</div>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Ophelia D. Narh.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Ophelia D. Narh</h5>
					<div class="position">
						Executive Secretary 
					</div>
				</div>
				<div class="details">
					<p>
						Ophelia Narh has served in a number of leadership positions, with over four year business experience in human resource management, photography and talent development. She has also served a number of non-profit organisations including Caleb Generations Youth Ministry and Help the Street Kids Foundation.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Portia Oduro.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Portia Oduro</h5>
					<div class="position">
						Legal Affairs
					</div>
				</div>

				<div class="details">
					<p>
						Portia Oduro holds a Bachelor’s degree in Law (LLB) from Kwame Nkrumah University of Science Technology, Kumasi, Ghana and is fully aware of the structure, culture and procedures of the legal profession. She is experienced in and having a good understanding of how to build relationships with clients and to provide appropriate and effective legal advice and services to them. Easy going by nature and able to liaise with case officers, managers and decision makers with regards to on-going legal matters.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Daniel A. Dade.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Daniel A. Dade</h5>
					<div class="position">
						Head, Marketing
					</div>
				</div>

				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
		
    
		<!--<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Eric A. Temeng.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Eric A. Temeng</h5>
					<div class="position">
						Marketing Dept
					</div>
				</div>

				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
-->

		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Samuel Yeboah Boateng.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Samuel Yeboah Boateng</h5>
					<div class="position">
						IT Head
					</div>
				</div>

				<div class="details">
					<p>
						Samuel is the head of the IT department of Stable Corps. He is specialised in graphic and web technology and also has a graduate Degree in Agricultural Engineering. He is also vested in programming and technologies that comes with web developement.
					</p>
				</div>
			</div>
      
      
		</div><div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Philip Nunoo.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Philip Nunoo</h5>
					<div class="position">
						Software Engineer,IT
					</div>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
    
    
		</div><div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Simon W. Kuseh.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Simon W. Kuseh</h5>
					<div class="position">
						Software Engineer,IT
					</div>
				</div>
				<div class="details">
					<p>
						Kuseh Simon, developed an interest in programming during his university days. He loves to program during his spare time. Among the programming languages that he programs in , include c++ , c , java and  php. He also has some basics in programming languages like vb.net and ruby. Kuseh also has some knowledge in microcontroller programing. Kuseh has some experience with matlab programing especially with SISO tool’s box.
					</p>
				</div>
			</div>
		</div>
    
    <!--<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Raphael E. Nkrow.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Raphael E. Nkrow</h5>
					<div class="position">
						Software Engineer,IT
					</div>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
-->

		<!--</div><div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Gilbert K. Godwill.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Gilbert K. Godwill</h5>
					<div class="position">
						Graphics/Animation Dept
					</div>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
	</div> --> <!-- / END TEAM MEMBER LIST -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->

<!-- =========================
   SEPARATOR ONE      
============================== -->

<section class="separator-one">
<div class="color-overlay">
	<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	Stable Corps brings to your doorstep solved problems done by the most advanced technologies and methods. Veiw comments from our clients.</h3>
	<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<a href="#" class="btn btn-primary custom-button white-btn">TESTIMONIALS</a>
	</div>
</div>
</section>  <!-- / END SEPARATOR -->



<!-- =========================
   ABOUT US SECTION   
============================== -->

<section class="about-us" id="aboutus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">About US</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
				Stable Corps is a technology company that deals in providing innovative solutions to society using high end technology and innovation. SCCL also seeks to inseminate scientific knowledge to help in the overall development of Ghana and Africa as a whole.
				<br>
				We hope to achieve this by employing all feasible innovative approved methods with a dedicated staff to make this happen.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 3 COLUMNS OF ABOUT US-->
	<div class="row">
		
<!-- COLUMN 1 - BRIEF ABOUT THE COMPANY - WHO WE ARE-->
		<div class="col-lg-4 col-md-4 column">
			<h5>WHAT IS STABLE CORPS?</h5>
			<p class="wow fadeInUp animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">
				 Created forth two. Behold appear first, kind all i saying fowl man itself moved which every open shall moved subdue appear. Saying life wherein stars. Give dry, own, male had that us third lesser over deep. May every bring in it Whose. Female earth heaven won't behold female.<br/><br/>
				Moved bearing give a two after. Had. Seas. Man they're. Grass above kind saying thing for that void sixth fly His after it.<br/><br/>
				The set doesn't moved. Deep don't fruit fowl gathering heaven days moving creeping under from i air. Set it fifth Meat was darkness. every bring in it Whose. Female earth heaven won't behold female.
			</p>
		</div>
		
		<!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<h5>WHO IS STABLE CORPS?</h5>
			<p class="wow fadeInUp animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">
				 Created forth two. Behold appear first, kind all i saying fowl man itself moved which every open shall moved subdue appear. Saying life wherein stars. Give dry, own, male had that us third lesser over deep. May every bring in it Whose. Female earth heaven won't behold female.<br/><br/>
				Moved bearing give a two after. Had. Seas. Man they're. Grass above kind saying thing for that void sixth fly His after it.<br/><br/>
				The set doesn't moved. Deep don't fruit fowl gathering heaven days moving creeping under from i air. Set it fifth Meat was darkness. every bring in it Whose. Female earth heaven won't behold female.
			</p>
		</div>
		
				<!-- COLUMN 3 - BRIEF ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<h5>OK, WHICH KIND OF PEOPLE DOES STABLE CORPS SERVE?</h5>
			<p class="wow fadeInUp animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">
				 Our targeted customers include people in the aerospace, automotive, electronics, energy, materials and chemical processing, academia, civil engineering, consumer products, healthcare and recreation industries.<br/><br/>
				 Our customers consist of a wide range of  industries who want to improve and modernise the way they carry out their activities
			</p>
		</div>
	</div> <!-- / END 3 COLUMNS OF ABOUT US-->

	<!-- CLIENTS -->
	<div class="wow bounceIn animated" data-wow-offset="3" data-wow-duration="3s" data-wow-delay="2s">
		<a href="#contact" class="btn btn-primary custom-button white-btn">BE OUR NEXT CLIENT</a>
	</div>
</div> <!-- / END CONTAINER -->

</section> <!-- END ABOUT US SECTION -->


<!-- =========================
   NEWSETTER          
============================== -->

<section class="newsletter">
	<div class="container">
		<h3 class="white-text wow fadeInLeft animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">Stay in touch</h3> <!-- NEWSLETTER SECTION HEADING -->
		<div class="sub-heading white-text wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			 Sign Up for Email Updates on on News &amp; Offers
		</div> 

	<!-- SUBSCRIPTION FORM -->
	<form action="#" class="subscription wow lightSpeedIn animated" data-wow-offset="0" data-wow-duration="2s" data-wow-delay="2s" role="form">
		<input type="email" placeholder="Enter email" class="form-control input-box">
		<button class="btn btn-primary custom-button white-btn">Sign Up</button>
	</form>
	<!-- / END SUBSCRIPTION FORM -->
	
	</div> <!-- / END CONTAINER -->
</section> <!-- / END NEWSLETTER SECTION -->

<!-- =========================
   TESTIMONIAL        
============================== -->

<section class="testimonial" id="testimonials">
<div class="container">
	  
	  <!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Testimonials</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			We have worked with hundreds of clients. Check what our awesome happy clients saying about us. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- CLIENT FEEDBACKS -->
	<div class="row wow fadeInRight animated"data-wow-offset="3" data-wow-duration="3s" data-wow-delay="0.15s">
		<div class="col-md-12">
			<div id="client-feedbacks" class="owl-carousel owl-theme">
				
				<!-- SINGLE FEEDBACK BOX-->
				<div class="feedback-box">
					
					<!-- MESSAGE OF THE CLIENT -->
					<div class="message">
						 “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
					</div>
					
					<!-- CLIENT INFORMATION -->
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Frank Willian</a> 
							<div class="client-company">
								 CEO, AbcD Network
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/1.jpg" alt="">
						</div>
					</div> <!-- / END CLIENT INFORMATION-->
				</div> <!-- / END SINGLE FEEDBACK BOX-->
				
				<div class="feedback-box">
					<div class="message">
						 “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">David Clyne</a>
							<div class="client-company">
								 CEO, Zyxw
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/2.jpg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Keith McCarthy</a>
							<div class="client-company">
								 Manager, XYZ Inc.
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/3.jpg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Frank Willian</a>
							<div class="client-company">
								 CEO, AbcD Network
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/2.jpg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">David Clyne</a>
							<div class="client-company">
								 CEO, Zyxw
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/3.jpg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Keith McCarthy</a>
							<div class="client-company">
								 Manager, XYZ Inc.
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/1.jpg" alt="">
						</div>
					</div>
				</div>
				
			</div> <!-- / END FEEDBACKS-->
		</div> <!-- / END COLUMN -->
	</div> <!-- / END ROW -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END TESTIMONIAL SECTION -->



<!-- =========================
   CONTACT US         
============================== -->

<section class="contact-us wow fadeInLeftBig animated" data-wow-offset="2" data-wow-duration="1s" id="contact">
<div class="container">
	
	<!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Let's talk</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Thanks for your interest in our services. Please fill out the email form, submit and we will get back to you soon.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- CONTACT FORM-->
	<div class="row">
		<form role="form" action="mailto:youremailaddress" class="contact-form">
			<div class="wow fadeInLeft animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="name" placeholder="Your Name" class="form-control input-box">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="email" name="email" placeholder="Your Email" class="form-control input-box">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="subject" placeholder="Subject" class="form-control input-box">
			</div>
			</div>
			
			<div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<textarea name="message" class="form-control textarea-box" placeholder="Your Message"></textarea>
			</div>
			<button class="btn btn-primary custom-button white-btn wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">Send Message</button>
		</form>
	</div>
	<!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->

