<!-- =========================
   HOME SECTION       
============================== -->
<header id="home" class="header">
	
	<!-- TOP BAR -->
	<div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header responsive-logo">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>	
          <%= link_to root_path,"data-no-turbolink" => true, :class => "navbar-brand"  do %>
  <img src="/assets/logo.png" alt="Stable Corps logo" id="logo-image" /><span id="logo-text"> STABLE CORPS</span>
          <% end %>
			</div>
			<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
			<ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
				<li><a href="#home">Home</a></li>
        <% if @courses.any?%>
        <li><a href="#register">Register</a></li>
        <% end %>
				<li><a href="#services">Services</a></li>
				<li><a href="#team">Team</a></li>
				<li><a href="#aboutus">About Us</a></li>
				<li><a href="#testimonials">SCCL Message</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			</nav>
		</div>
	</div>
	<!-- / END TOP BAR -->	
 
<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	<div class="container">

		<!-- HEADING -->
        <% if flash[:notice] %>
    <div class= "intro"><h3><%= flash[:notice] %></h3></div>
   <%end%>
	
		<!-- CALL TO ACTION BUTTONS -->
		<div class="buttons">
      <% if @courses.any?%>
			<%= link_to "Student", new_student_path, :class => "btn btn-primary custom-button white-btn wow fadeInLeftBig animated" , :"data-wow-offset" => "30", :"data-wow-duration" => "3s" ,"data-no-turbolink" => true %>
      <% end%>
			<a href="#contact" class="btn btn-primary custom-button white-btn wow fadeInRightBig animated" data-wow-offset="30" data-wow-duration="3s">Client</a>
		</div>
		
		<!-- 3 SHORT MESSAGE ABOUT COMPANY -->
        <div class="row bottom-message-section">
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon icon-fontawesome-webfont-358"></i> Cost Effective Solutions
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-286"></i> Quality product in time
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="short-text">
					<i class="icon-fontawesome-webfont-347"></i> Satisfaction guranteed
				</div>
			</div>
		</div>
	</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
	
<!-- </header> / END HOME SECTION  -->

<!-- =========================
   COURSES SECTION      
============================== -->
<% if @courses.any?%>
<section class="services" id="register">
<div class="container">
	
	<!-- COURSES HEADER -->
	<div class="section-header">
		
		<!-- COURSES TITLE -->
		<h2 class="white-text ">Available Courses</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE COURSES -->
    <h6>
			Stablecorps also provides educational solutions among which will of tutorials and course. Listed below are some of the course offered by stablecorps. 
		</h6>
	</div>

  	<!-- / END COURSES HEADER -->
  
	<!-- COURSES BOXES -->
	<div class="row">
    <%  @courses.each do |course| %>
		<div class="col-lg-6 col-md-6 col-sm-6 services-box blue wow bounceIn animated" data-wow-offset="30" data-wow-duration="5s" data-wow-delay="2s">
			<div class="service-icon">
        <%= image_tag( course.avatar.url(:medium)) %>
<!-- 				<img src="/assets/services/agric.jpg" alt="agric" /> -->
			</div>
      <h5 class="white-border-bottom"><%= course.name %></h5>
      <!-- services HEADING -->
      <h6><%= course.course_info %></h6>
      <p style="text-align: center;"><strong>Price: </strong> ¢<%= course.price %></p>
      <%= link_to "Register", new_student_path, :class => "btn btn-primary custom-button white-btn" ,"data-no-turbolink" => true %>
		</div>
    
     <% end %>
     <% end %>
  </div><!-- / END COURSES BOXES -->
</div> <!-- / END CONTAINER -->
</section><!-- / END COURSES SECTION-->
  
  
<!-- =========================
   SOLUTIONS SECTION      
============================== -->
<section class="services wow fadeInLeftBig animated" data-wow-offset="30" data-wow-duration="4s" id="services">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text ">Solutions</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6>
			Technical know how coupled with the use of hitech tools has given Stable Corps the edge to solve problems more efficiently and permanently. Through the use of systematic and standard scientific principles, we are able to provide long lasting solutions to our  customers. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
<%=render "solutions/index" %>
	<!-- / END 5 services BOXES -->
</div> <!-- / END CONTAINER -->
</section>  <!-- / END services SECTION -->

<!-- =========================
   OUR TEAM SECTION   
============================== -->

<section class="our-team wow fadeInRightBig animated" data-wow-offset="1" data-wow-duration="1s" id="team">
<div>
  
  <div class="container">
		<!-- SECTION TITLE -->
		<h2 class="dark-text" id="team-label">Our Team</h2>
		<br>
	</div>
  
	<!-- / END SECTION HEADER -->
	
	<!-- TEAM MEMBERS -->
	<div class="row wow fadeInRight animated" data-wow-offset="3" data-wow-duration="1s" data-wow-delay="0.15s">
		<!-- MEMBER -->
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="assets/team/Michael W. Takrama.jpeg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Michael W. Takrama</h5>
					<div class="position">
						CEO
					</div>
				</div>
				<div class="details">
					<p>
						Mr. Takrama is the CEO for Stable Corps Company Limited (SCCL). He is a design engineer and responsible for promoting SCCL’s visions               and operations.
					</p>
				</div>
			</div>
		</div>
		<!-- / END MEMBER -->
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Richard K Padi.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Richard K Padi</h5>
					<div class="position">
						Vice - CEO
					</div>
				</div>
				<div class="details">
					<p>
						Mr. Padi is Vice-CEO and design engineer for Stable Corps Company Limited (SCCL). He is responsible for providing effective guidance,             coordination and support for all the company’s relationships.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Daniel Aboagye.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Daniel Aboagye</h5>
					<div class="position">
						Director of Industrial Solutions
					</div>
				</div>
	
				<div class="details">
					<p>
					Mr. Aboagye is the director of Industrial Solutions and design engineer. He is responsible for product life cycle solutions,                       logistical support, sustainable systems, infrastructure and industry range operations, training support and services.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Benjamin A. Asaaga.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Benjamin A. Asaaga</h5>
					<div class="position">
						Operations Manager
					</div>
				</div>
				<div class="details">
					<p>
						Mr. Asaaga is the Operations Manager and a design engineer. He is responsible for driving effective operations to enable top                       performance, innovation and affordability. He also has direct responsibility for corporate programs, quality, technology and                       engineering.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Ophelia D. Narh.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Ophelia D. Narh</h5>
					<div class="position">
						Executive Secretary 
					</div>
				</div>
				<div class="details">
					<p>
						Miss. Narh is the Executive secretary for Stable Corps Company Limited (SCCL). Her responsibilities include organization                           effectiveness, performance management, talent development and acquisition, employee relations, and compensation and benefits including             the company’s external operations.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Portia Oduro.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Portia Oduro</h5>
					<div class="position">
						Legal Affairs
					</div>
				</div>

				<div class="details">
					<p>
						Miss. Oduro is the Legal Affairs Head for Stable Corps Limited. She is responsible for company policy formulations, documentation and             company compliance to applicable laws and regulations.
					</p>
				</div>
			</div>
		</div>
		
    
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Philip Nunoo.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Linda Yeboah</h5>
					<div class="position">
						Marketing Manager
					</div>
				</div>

				<div class="details">
					<p>
						Miss. Yeboah is the Marketing Manageress and a Development Planner. She assists in PRD preparations based on customer requests and             also in charge of strategic planning for SCCL Marketing.
					</p>
				</div>
			</div>
		</div>
		
    
		<!--<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Eric A. Temeng.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Eric A. Temeng</h5>
					<div class="position">
						Marketing Dept
					</div>
				</div>

				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div>
-->

		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Samuel Yeboah Boateng.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Samuel Yeboah Boateng</h5>
					<div class="position">
						IT Head
					</div>
				</div>

				<div class="details">
					<p>
						Mr. Boateng is the IT Head and Software Engineer. He is in charge of software development, graphics and automation. 
					</p>
				</div>
			</div>
    </div>
      
      
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Philip Nunoo.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Philip Nunoo</h5>
					<div class="position">
						Software Engineer,IT
					</div>
				</div>
				<div class="details">
					<p>
						Mr. Nunoo is IT expert and Software Engineer. Web and mobile applications development is his main specialty.
					</p>
				</div>
			</div>
  </div>
    
    
    <div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Simon W. Kuseh.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Simon W. Kuseh</h5>
					<div class="position">
						Software Engineer,IT
					</div>
				</div>
				<div class="details">
					<p>
					Mr. Kuseh is IT expert and Software Engineer. Software development and micro controller programming.
					</p>
				</div>
			</div>
		</div>
    
    <!--<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Raphael E. Nkrow.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Raphael E. Nkrow</h5>
					<div class="position">
						Software Engineer,IT
					</div>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
-->

		<!--</div><div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="assets/team/Gilbert K. Godwill.jpeg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">Gilbert K. Godwill</h5>
					<div class="position">
						Graphics/Animation Dept
					</div>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
			</div>
		</div> -->
    
	</div> <!-- / END TEAM MEMBER LIST -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->

<!-- =========================
   SEPARATOR ONE      
============================== -->

<section class="separator-one">
<div class="color-overlay">
	<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	Stable Corps brings to your doorstep solved problems done by the most advanced technologies and methods.</h3>
	<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<!--<a href="#" class="btn btn-primary custom-button white-btn">TESTIMONIALS</a>--> <!-- initiation in future-->
	</div>
</div>
</section>  <!-- / END SEPARATOR -->



<!-- =========================
   ABOUT US SECTION   
============================== -->

<section class="about-us" id="aboutus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">About US</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
				Stable Corps is a technology company that deals in providing innovative solutions to society using high end technology and innovation. 
				<br>
		    Accelerated development through technological breakthrough and practice is the ultimate dream of SCCL
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 3 COLUMNS OF ABOUT US-->
	<div class="row">
		
<!-- COLUMN 1 - BRIEF ABOUT THE COMPANY - WHO WE ARE-->
		<div class="col-lg-4 col-md-4 column">
			<h5>WHAT IS STABLE CORPS?</h5>
			<p class="wow fadeInUp animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">
				 Stable Corps is a technology company that deals in providing innovative solutions to society using high end technology and                  innovation. SCCL also seeks to inseminate scientific knowledge to help in the overall development of Ghana and Africa as a whole.
         We hope to achieve this by employing all feasible innovative approved methods with a dedicated staff to make this happen.
			</p>
		</div>
		
		<!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<h5>WHO IS STABLE CORPS?</h5>
			<p class="wow fadeInUp animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">
				Founded in 2013, STABLE CORPS is a global group of professionals in diverse fields with one mission and goal of improving society.
        We have staff in various areas such as agricultural engineering, chemical engineering, computer engineering amongst others.<br/>          <br/>
        STABLE CORPS is very determined and passionate about applying and developing sustainable technologies to solve any problem. It’s           our greatest desire to seeing our customers satisfied. 
			</p>
		</div>
		
				<!-- COLUMN 3 - BRIEF ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<h5>OK, WHICH KIND OF PEOPLE DOES STABLE CORPS SERVE?</h5>
			<p class="wow fadeInUp animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">
				 Our targeted customers include people in the aerospace, automotive, electronics, energy, materials and chemical processing,                 academia, civil engineering, consumer products, healthcare and recreation industries.<br/><br/>
				 Our customers consist of a wide range of  industries who want to improve and modernise the way they carry out their activities
			</p>
		</div>
	</div> <!-- / END 3 COLUMNS OF ABOUT US-->

	<!-- CLIENTS -->
	<div class="wow bounceIn animated" data-wow-offset="3" data-wow-duration="3s" data-wow-delay="2s">
		<a href="#contact" class="btn btn-primary custom-button white-btn">BE OUR NEXT CLIENT</a>
	</div>
</div> <!-- / END CONTAINER -->

</section> <!-- END ABOUT US SECTION -->


<!-- =========================
   NEWSLETTER          
============================== -->

<section class="newsletter">
	<div class="container">
		<h3 class="white-text wow fadeInLeft animated" data-wow-offset="3" data-wow-duration="1.5s" data-wow-delay="0.15s">Stay in touch</h3> <!-- NEWSLETTER SECTION HEADING -->
		<div class="sub-heading white-text wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			 Sign Up for Email Updates on on News &amp; Offers
		</div> 

	<!-- SUBSCRIPTION FORM -->
    <%= render "newsletters/new", :@newsletter => Newsletter.new %> 
	<!-- / END SUBSCRIPTION FORM -->
	
	</div> <!-- / END CONTAINER -->
</section> <!-- / END NEWSLETTER SECTION -->

<!-- =========================
   SCCL MESSAGE        
============================== -->

<section class="testimonial" id="testimonials">
<div class="container">
	  
	  <!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="blue-text">SCCL MESSAGE</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="blue-text">
			Messages from Our Team 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- CLIENT FEEDBACKS -->
	<div class="row wow fadeInRight animated"data-wow-offset="3" data-wow-duration="3s" data-wow-delay="0.15s">
		<div class="col-md-12">
			<div id="client-feedbacks" class="owl-carousel owl-theme">
				
				<!-- SINGLE FEEDBACK BOX-->
				<div class="feedback-box">
					
					<!-- MESSAGE OF THE CLIENT -->
					<div class="message">
						 Stable Corps provides comprehensive solutions that encourage the growth and success of your company.  Our solutions are                             designed to give you the flexibility and control to choose the benefits that make the most sense. We are dedicated to ensuring                     the productivity and longevity of your company.
					</div>
					
					<!-- CLIENT INFORMATION -->
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Michael Takrama</a> 
							<div class="client-company">
								 CEO, Stable Corps
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/Michael W. Takrama.jpeg" alt="">
						</div>
					</div> <!-- / END CLIENT INFORMATION-->
				</div> <!-- / END SINGLE FEEDBACK BOX-->
				
				<div class="feedback-box">
					<div class="message">
						 The experience, capabilities and resources of SCCL compete aggressively in a technology market that values ingenuity. From                  product development approach, we shape creative solutions that advance our customer's goals and add exceptional value to                   their business.
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Richard K. Padi</a>
							<div class="client-company">
								 Vice, Stable Corps
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/Richard K Padi.jpeg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						SCCL supports its team through internal training programs which increases their skills and proficiency. 
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Benjamin Asaaga</a>
							<div class="client-company">
								Operations Manager, Stable Corps
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/Benjamin A. Asaaga.jpeg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 We develop innovative technologies, knowledge, and infrastructure needed to solve societal issues relating to technology. Our             technologies and trained workforce ensure successful and unique user friendly products.
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Linda Yeboah</a>
							<div class="client-company">
								 Marketing Manager, Stable Corps
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/Philip Nunoo.jpeg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 SCCL’s responsibility for its team does not stop at the office doors. It extends to their health and happiness. SCCL provides              a comprehensive benefits package designed for its staff aimed at giving them recognition of their efforts.
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Ophelia D. Narh</a>
							<div class="client-company">
								 Executive Secretary, Stable Corps
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/Ophelia D. Narh.jpeg" alt="">
						</div>
					</div>
				</div>
				
				<div class="feedback-box">
					<div class="message">
						 SCCL solution packages are designed to give you the flexibility and control to choose from in line of your problems. We offer             solutions ranging from agricultural to Industrial sector.
					</div>
					<div class="client">
						<div class="client-info">
							<a class="client-name" href="#">Samuel Boateng</a>
							<div class="client-company">
								 IT Head, Stable Corps
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="assets/clients-pic/Samuel Yeboah Boateng.jpeg" alt="">
						</div>
					</div>
				</div>
				
			</div> <!-- / END FEEDBACKS-->
		</div> <!-- / END COLUMN -->
	</div> <!-- / END ROW -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END TESTIMONIAL SECTION -->

<!-- =========================
   CONTACT US         
============================== -->

<section class="contact-us wow fadeInLeftBig animated" data-wow-offset="30" data-wow-duration="2s" id="contact">
<div class="container">
	
	<!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Let's talk</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			Thanks for your interest in our services. Please fill out the email form, submit and we will get back to you soon.
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- CONTACT FORM-->
  <%= render "contacts/new", :@contact => Contact.new %>
	<!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->